<ion-header translucent>
  <ion-toolbar>
    <ion-title>WELCOME!</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen class="ion-padding">
  <!-- <ion-alert-controller></ion-alert-controller> -->
  

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="12">
        <ion-text id="coming-soon">COMING SOOON!</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div>
    <ion-icon class="construct" name="construct"></ion-icon>  <ion-icon class="cog" name="cog"></ion-icon>
  </div> -->
  <ion-img [src]="'https://cdn4.iconfinder.com/data/icons/web-and-mobile-app-development/800/57-512.png'"></ion-img>
  <ion-button expand="block" (click)="checkConnection()">Check Connection</ion-button>
</ion-content>
